<button class="btn btn-primary" (click)="showList = !showList">Toggle List Visibility</button>
<hr>
<div *ngIf="showList; else elseBlock">
  <ul class="list-group">
    <li class="list-group-item"
        *ngFor="let message of messages; let i = index">
      Index: {{ i }}, Message: {{ message }}
    </li>
  </ul>
</div>
<ng-template #elseBlock>No Messages Available</ng-template>

<hr>
<h4>NgSwitch</h4>
<input type="text" class="form-control" [(ngModel)]="alertType"><br>
<div [ngSwitch]="alertType">
  <div *ngSwitchCase="'success'" class="alert alert-success" role="alert">Well done! You successfully read this important alert message.</div>
  <div *ngSwitchCase="'info'" class="alert alert-info" role="alert">Heads up! This alert needs your attention, but it's not super important.</div>
  <div *ngSwitchCase="'warning'" class="alert alert-warning" role="alert">Warning! Better check yourself, you're not looking too good.</div>
  <div *ngSwitchCase="'danger'" class="alert alert-danger" role="alert">Oh snap! Change a few things up and try submitting again.</div>
  <div *ngSwitchDefault class="alert" role="alert">This is the default case.</div>
</div>